<th:block th:fragment="client_menu">
    <div class="topnav" id="topNavigation">
        <a href="/home" id="index_link" title="link to home index page" class="active">Начало</a>
        <a href="/shipments/my-shipments" id="my_shipments_link" title="link to my shipments">Моите пратки</a>
        <a href="/shipments/send-shipment" id="send_shipment_link" title="link to send shipment">Изпрати пратка</a>
        <a href="/offices" id="offices_link" title="link to offices">Офиси</a>
        <a href="/users/logout" id="logout_link" title="link to logout">Излез</a>
        <a href="javascript:void(0);" class="icon" onclick="openMenu()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
</th:block>