<th:block th:fragment="employee_menu">
    <div class="topnav" id="topNavigation">
        <a href="home" id="index_link" title="link to home index page" class="active">Начало</a>
        <a href="all_users" id="users_link" title="link to users">Потребители</a>
        <a href="shipments" id="shipments_link" title="link to shipments">Пратки</a>
        <a href="offices" id="offices_link" title="link to offices">Офиси</a>
        <a href="income" id="income_link" title="link to income">Приходи</a>
        <a href="javascript:void(0);" class="icon" onclick="openMenu()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
</th:block>