<th:block th:fragment="footer">
    <footer class="footer">
        <div class="box-footer">
            <h2 class="head-text-footer">Логистична компания</h2>
            <h3 class="footer-h3-size">Логистична компания е проект за Нов Български Университет,
                разработен със Spring.</h3>
        </div>
        <div class="box-footer">
            <h2 class="head-text-footer">Логистична компания</h2>
            <h3 class="footer-h3-size">Логистична компания е проект за Нов Български Университет,
                разработен със Spring.</h3>
        </div>
        <div class="box-footer">
            <h2 class="head-text-footer">Логистична компания</h2>
            <h3 class="footer-h3-size">Логистична компания е проект за Нов Български Университет,
                разработен със Spring.</h3>
        </div>
    </footer>
</th:block>