<th:block th:fragment="footer">
    <footer class="footer">
        <div class="box-footer">
            <h2 class="head-text-footer">Логистична компания</h2>
            <h3 class="footer-h3-size">Логистична компания е проект за Нов Български Университет,
                разработен със Spring Framework. Spring е базиран на програмния език Java. Използван е Thymeleaf,
                който е template engine, за да реализираме front-end частта на проекта.</h3>
        </div>
        <div class="box-footer">
            <h2 class="head-text-footer">Github Repository</h2>
            <h3 class="footer-h3-size">Проектът може да се разгледа в платформата <a href="https://github.com">Github</a> на този <a href="https://github.com/iskrenpetrov/LogisticCompany">адрес</a>.</h3>
        </div>
        <div class="box-footer">
            <h2 class="head-text-footer">Екип</h2>
            <h3 class="footer-h3-size">
                <ul>
                    <div>Никола Попов<div/>
                    <div>Искрен Петров</div>
                    <div>Симеон Попов</div>
                    <div>Кристина Кръстанова</div>
                    <div>Георги Димитров</div>
                </ul>
            </h3>
        </div>
    </footer>
</th:block>