<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/bootstrap.min.css">

</head>
<body>

	<th:block th:fragment="menu">
		<div th:if="${#request.isUserInRole('ROLE_ROOT')}">
			<th:block th:replace="fragments/admin_menu"></th:block>
		</div>
		<div
			th:if="!${#request.isUserInRole('ROLE_ROOT')} and (${#request.isUserInRole('ROLE_EMPLOYEE')} or ${#request.isUserInRole('ROLE_COURIER')})">
			<th:block th:replace="fragments/employee_menu"></th:block>
		</div>
		<div
			th:if="!${#request.isUserInRole('ROLE_ROOT')} and ${#request.isUserInRole('ROLE_USER')}">
			<th:block th:replace="fragments/client_menu"></th:block>
		</div>
	</th:block>

<body>