<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" \>
<head>
    <title>Logistic company</title>
    <meta charset="UTF-8">
    <meta name="description" content="University project for New Bulgarian University">
    <meta name="keywords" content="university, project, new, bulgarian, university">
    <meta name="author" content="Nikola, Georgi, Iskren, Kristina, Simeon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/menu.css">
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>
    <script src="scripts/scripts.js"></script>
</head>
<body>
<div class="pageContent">
    <div class="topnav" id="topNavigation">
        <a href="index.html" id="index_link" title="link to home index page" class="active">Начало</a>
        <a href="users/all_users.html" id="products_link" title="link to products">Потребители</a>
        <a href="javascript:void(0);" class="icon" onclick="openMenu()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <h1>List of all users</h1>
    <table>
        <thead>
        <tr>
            <th>Identifier</th>
            <th>Username</th>
            <th>Roles</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="user : ${userListViewModels}" th:object="${user}">
            <tr>
                <td th:text="*{id}"></td>
                <td th:text="*{username}"></td>
                <td th:text="*{authorities}"></td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
</body>
</html>