<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<body>
	<h6 class="m-0 font-weight-bold text-primary">List of all users</h6>
	<table>
		<thead>
			<tr>
				<th>Identifier</th>
				<th>Username</th>
				<th>Roles</th>
			</tr>
		</thead>
		<tbody>
			<th:block th:each="user : ${userListViewModels}" th:object="${user}">
				<tr>
					<td th:text="*{id}"></td>
					<td th:text="*{username}"></td>
					<td th:text="*{authorities}"></td>
				</tr>
			</th:block>
		</tbody>
	</table>
</body>
</html>