<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Logistic company</title>
    <meta charset="UTF-8">
    <meta name="description" content="University project for New Bulgarian University">
    <meta name="keywords" content="university, project, new, bulgarian, university">
    <meta name="author" content="Svilen, Nikola, Pavel, Tsvetomir, Stefan">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/container.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/tables.css">
    <link rel="stylesheet" href="/css/buttons.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>
    <script src="/scripts/scripts.js"></script>
</head>
<body>
<div class="pageContent">
    <th:block th:include="~{fragments/menu}"></th:block>
    <header><h1>Logistic Company</h1></header>
    <div class="container">
        <div class="box-1">
            <div class="box-headline"><h2>Изпращане на пратка</h2></div>
            <form th:action="@{/shipments/send-shipment}" th:object="${shipment}" th:method="post">
                <div>
                    <input class="roundButton roundFormWithBlackText" type="text" name="sender"
                           id="sender" placeholder="Изпращач" th:field="*{sender}"
                           th:value="*{sender}" readonly required />
                    <input class="roundButton roundFormWithBlackText" type="text" name="recipient"
                           id="recipient" placeholder="Получател" th:field="*{recipient}"
                           required />
                    <input class="roundButton roundFormWithBlackText" type="text" name="address"
                           id="address" placeholder="Адрес" th:field="*{address}"
                           required />
                    <input class="roundButton roundFormWithBlackText" type="text" name="weight"
                           id="weight" placeholder="Тежест" th:field="*{weight}"
                           required />
                </div>
                <div>
                    <button class="roundButton roundFormWithBlackText editButton" type="submit">Добавяне<i class="bi bi-person-fill-add"></i></button>
                </div>
            </form>
            <div>
                <button class="roundButton roundFormWithBlackText viewButton" onclick="calculatePrice()">Сметни цена</button>
            </div>
        </div>
    </div>
    <th:block th:include="~{fragments/footer}"></th:block>
</div>
</body>
</html>