<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<head>
    <title>Logistic company</title>
    <meta charset="UTF-8">
    <meta name="description" content="University project for New Bulgarian University">
    <meta name="keywords" content="university, project, new, bulgarian, university">
    <meta name="author" content="Svilen, Nikola, Pavel, Tsvetomir, Stefan">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/container.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/tables.css">
    <link rel="stylesheet" href="/css/buttons.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>
    <script src="scripts/scripts.js"></script>
</head>
<body>
<div class="pageContent">
    <th:block th:include="~{fragments/menu}"></th:block>
    <header><h1>Логистична компания</h1></header>
    <div class="container">
        <div class="box-1">
            <div class="box-headline"><h2>Потребители</h2></div>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Име</th>
                    <th>Роля</th>
                    <th>Операции</th>
                </tr>
                <tbody>
                <th:block th:each="user : ${userListViewModels}" th:object="${user}">
                    <tr>
                        <td th:text="*{id}"></td>
                        <td th:text="*{username}"></td>
                        <td th:text="*{authorities}"></td>
                        <td>
                            <a th:href="@{'/users/' + ${user.id} + '/update'}">
                                <button class="roundButton editButton">Редактиране<i class="bi bi-pencil-square"></i></button>
                            </a>
                            <a th:href="@{'/users/' + ${user.id} + '/delete'}">
                                <button class="roundButton deleteButton">Изтрий<i class="bi bi-trash3"></i></button>
                            </a>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
        <br>
        <br>
        <div class="box-1">
            <div class="box-headline"><h2>Служители</h2></div>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Име</th>
                    <th>Роля</th>
                    <th>Операции</th>
                </tr>
                <tbody>
                <th:block th:each="user : ${employeeListViewModels}" th:object="${user}">
                    <tr>
                        <td th:text="*{id}"></td>
                        <td th:text="*{username}"></td>
                        <td th:text="*{authorities}"></td>
                        <td>
                            <a th:href="@{'/users/' + ${user.id} + '/update'}">
                                <button class="roundButton editButton">Редактиране<i class="bi bi-pencil-square"></i></button>
                            </a>
                            <a th:href="@{'/users/' + ${user.id} + '/delete'}">
                                <button class="roundButton deleteButton">Изтрий<i class="bi bi-trash3"></i></button>
                            </a>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
    <th:block th:include="~{fragments/footer}"></th:block>
</div>
</body>
</html>