    <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<title>Logistic company</title>
	<meta charset="UTF-8">
	<meta name="description" content="University project for New Bulgarian University">
	<meta name="keywords" content="university, project, new, bulgarian, university">
	<meta name="author" content="Svilen, Nikola, Pavel, Tsvetomir, Stefan">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/menu.css">
	<link rel="stylesheet" href="/css/container.css">
	<link rel="stylesheet" href="/css/footer.css">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>
	<script src="scripts/scripts.js"></script>
</head>
<body>
<div class="pageContent">
	<th:block th:include="~{fragments/menu}"></th:block>
	<header><h1>Логистична компания</h1></header>
	<div class="container">
		<div class="box-1">
			<div class="box-headline"><h2>За сайта</h2></div>
			<h2>Вие влязохте успешно в страницата</h2>
		</div>
	</div>
	<th:block th:include="~{fragments/footer}"></th:block>
</div>
</body>
</html>