<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"\>
<head>
	<title>Logistic company</title>
	<meta charset="UTF-8">
	<meta name="description" content="University project for New Bulgarian University">
	<meta name="keywords" content="university, project, new, bulgarian, university">
	<meta name="author" content="Nikola, Georgi, Iskren, Kristina, Simeon">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/index.css">
</head>
<body>
</body>
</html>